dtd/smenob.dtd

<!ELEMENT r (lics?, e+, xhtml:script?) >
<!ATTLIST r xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
    xml:lang ( sme ) #IMPLIED
>
<!ATTLIST r
      id ( smenob ) #IMPLIED >


<!-- the header -->
<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'
    xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml"
>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a)*>
<!ELEMENT sourcenote (#PCDATA|a)*>
<!ELEMENT a (#PCDATA)>

<!ELEMENT e (lg, mg+, ig* ) >
<!ATTLIST e
      src ( nj | sk | SvSt | gt_fad | gt | fad | other | sgg | SK |
            PS_SA | KAL | nou94 | PS | husbykuhmunen | lmm | sammallahti |
            BergslandMagga | Lagercrantz | nsr | utsi | aj )  #IMPLIED
>

<!ELEMENT lg (l+, lemma_ref*, lsub*, lc*, analysis*, mini_paradigm*, algu*, orig*) >
<!ELEMENT lemma_ref (#PCDATA) > <!-- navigating in static articles -->
<!ATTLIST lemma_ref lemmaID CDATA #IMPLIED >
<!ATTLIST lg freq CDATA #IMPLIED >
<!ELEMENT analysis (#PCDATA|wordform)* >
<!ATTLIST analysis ms CDATA #IMPLIED >
<!ELEMENT wordform (#PCDATA) >
<!ELEMENT orig (#PCDATA) >
<!ELEMENT mini_paradigm (analysis+) >
<!ELEMENT l (#PCDATA) >
<!ATTLIST l
      ader CDATA #IMPLIED
      pos ( A | N | V | Adv | Po | Pr | Pron | Rel |  Det | Interj | Pcle |
            Num | CC | CS | Phrase | fp-cmp ) #REQUIRED
      attr ( no ) #IMPLIED
      nr ( Sg | Du | Pl ) #IMPLIED
      context CDATA #IMPLIED
      type ( Rel | Pers | Indef | Refl | Dem | G3 | G7 | NomAg | Ord
      | Prop | Recipr | Coll | Interr ) #IMPLIED
      pg ( yes | no ) #IMPLIED
      illpl ( no ) #IMPLIED
      vmax ( 2 | 3 | 4) #IMPLIED
      dial ( east | west | torne | varanger ) #IMPLIED
      par CDATA #IMPLIED
      dera CDATA #IMPLIED

>
<!ATTLIST l sem_type ( Obj | Plc | Fem | Org | Mal | Txt ) #IMPLIED >
<!ATTLIST l paradigme ( cases ) #IMPLIED >
<!ATTLIST l comment CDATA #IMPLIED >
<!ATTLIST l src CDATA #IMPLIED >
<!ATTLIST l value CDATA #IMPLIED >


<!-- lsub = frequent subform of lemma -->
<!ELEMENT lsub (#PCDATA) >
<!ATTLIST lsub src CDATA #IMPLIED >
<!ATTLIST lsub x ( fad ) #IMPLIED >

<!-- lc = lemma comment, misused as stem field -->
<!ELEMENT lc (#PCDATA) >

<!-- algu = lemma IDs in the algu database -->
<!ELEMENT algu EMPTY >
<!ATTLIST algu
      lekseemi_id CDATA #REQUIRED >
<!ATTLIST algu
      sanue_id CDATA #REQUIRED >

<!ELEMENT mg (l_ref?, dg?, sg?, antg?, tg+, xg* ) >
<!ATTLIST mg
      xml:lang ( nob ) #IMPLIED
>
<!ATTLIST mg id CDATA #IMPLIED >
<!ATTLIST mg src CDATA #IMPLIED >
<!ATTLIST mg c CDATA #IMPLIED >
<!ATTLIST mg x ( fad ) #IMPLIED >

<!-- definition  -->
<!ELEMENT dg ( re?, d, dt? ) >
<!ELEMENT d (#PCDATA) >
<!ELEMENT dt (#PCDATA) >


<!-- synonym, antonym --> 
<!ELEMENT sg ( s+ ) >
<!ELEMENT s (#PCDATA) >
<!ELEMENT antg ( ant+ ) >
<!ELEMENT ant (#PCDATA) >

<!-- Idiom phrases, faste uttrykk -->
<!ELEMENT ig ( i+, id?, it+)+ >
<!ELEMENT i (#PCDATA) >
<!ELEMENT id (#PCDATA) >
<!ELEMENT it (#PCDATA) >



<!ELEMENT tg (re?,  ( ((t, l_ref?, morph_expl?) ))+, xg* ) >
<!ATTLIST tg
      xml:lang ( nob | eng | fra ) #REQUIRED
      check CDATA #IMPLIED
>
<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->
<!ATTLIST re x ( fad ) #IMPLIED >

<!ELEMENT t (#PCDATA) >
<!ATTLIST t t_type ( expl | grammarexpl ) #IMPLIED  >
<!ATTLIST t nr ( Sg | Pl ) #IMPLIED  >
<!ATTLIST t pos ( A | N | V | Adv | Po | Pr | Pron | Rel |  Det | Interj | Pcle | Num | CC | CS | Phrase | fp-cmp ) #IMPLIED  >
<!ATTLIST t reg CDATA #IMPLIED >
<!ATTLIST t country CDATA #IMPLIED >

<!ATTLIST t type ( Prop | Indef | Recipr | Pers | Refl | Dem | Poss | Rel | Interr ) #IMPLIED >
<!ATTLIST t dial ( east | west | torne | varanger ) #IMPLIED >
<!ATTLIST t src CDATA #IMPLIED >
<!ATTLIST t alt_str CDATA #IMPLIED >
<!ATTLIST t sem_type ( Obj | Plc | Org | Mal ) #IMPLIED >
<!ATTLIST t comment CDATA #IMPLIED >
<!ATTLIST t href CDATA #IMPLIED >
<!ATTLIST t x ( fad ) #IMPLIED >


<!ELEMENT l_ref (#PCDATA) > <!-- reference, se også = information about words relevant to the lemma -->

<!ELEMENT morph_expl (#PCDATA) >


<!ELEMENT xg ((x, xt+)+)>
<!ATTLIST xg re CDATA #IMPLIED >
<!ELEMENT x (#PCDATA)>
<!ATTLIST x src CDATA #IMPLIED >
<!ELEMENT xt (#PCDATA)>
<!ATTLIST xt src CDATA #IMPLIED >

<!ELEMENT xhtml:script EMPTY >
<!ATTLIST xhtml:script type CDATA #FIXED "text/javascript" >
<!ATTLIST xhtml:script src  CDATA #IMPLIED >
<!ATTLIST xhtml:script xmlns:xhtml CDATA #FIXED "http://www.w3.org/1999/xhtml" >



<!--
This document is not quite finished yet...

Here are the pos tags:
 a  = Adjective
 m  = Masculine (nob)
 f  = Feminine (nob)
 n  = Neuter (nob), noun (sme)
 S  = noun, still not given gender (nob)
 v  = verb
 adv  = adverb
 num = numeral
 pcle = particle
 p  = preposition (nob)
 pr = preposition (sme)
 po = postposition (sme)
 pron  = pronoun
 i  = interjection
 cc  = conjunction
 cs  = subjunction
 im = infinitive mark å (nob)
 s  = sentence, or explanation
 x  = still no pos

Documenting
(the tags are short due to a manual cleanup)
r  root
e  entry
l  lemma
lc lemma comment
m  meaning
re restriction (semantic restriction of the following t)
t  translation
x  example
xt example translation
.g group
-->
